.graficas{
    position: absolute;
    display: flex !important;
    top: 100%;
}
.exams{
    height: 55%;
    min-height:55%;
    top: 8% !important;

}


.cardsExam{
   
   position: absolute;
    height: 60%;
    min-height: 60%;
    max-height: 60%;
    display: flex !important;
    margin: 0;
    padding: 0;  
    cursor: pointer;
}
.contenido1{
    position: relative;
    width: 45%;
    min-width:45% ;
    max-width: 45%;
    height: 60%;
    left: 0;
    padding: 0;
    display: block;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
}
.carres{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 45%;
    left: 0;
    padding: 0;
    margin: 0;
    display: block !important;
    border-radius: 23px;
    cursor: pointer;
}
.carres1{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 95%;
    left: 0;
    padding: 0;
    margin: 0;
    display: block !important;
    border-radius: 23px;
    cursor: pointer

}
.contenido2{
    position: relative;
    width: 50%;
    min-width:50% ;
    max-width: 50%;
    height: 60%;
    right: 0;
    padding: 0;
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0;
   

}
.carres:hover{
    top: -12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(2px) !important;
    border: rgba(255, 255, 255, 0.18) !important;
}
.carres1:hover{
    top: -12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(2px) !important;
    border: rgba(255, 255, 255, 0.18) !important;
}
.imgexa{
    background-color: rgba(0, 0, 0, 1);
 
}
.card-title{
    color: white;
    font-weight: 800;
}
.buscador{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    height: 20%;
    top:15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.exams{
    transform: translate(0%,25%);
}
.inputSea,.form-inline{
    width: 95% !important;
    max-width: 95% !important;
    min-width: 95% !important;
}
.searchs{
    width: 90% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}
.divInstrucciones{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    height: 20%;
    position:absolute;
    top: 8%;
}
body{
    height: 80vw;
}
.container{

    height: 80vw !important;
    min-height: 80vw !important;
    max-height:80vw !important ;

}